src/main/java/by/tr/web/kinorating/controller/command/config/commands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tr.web.final.task" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="commands">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="command" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="class"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>